snapshot {
    elasticbeanstalk {
         bucketName = "1",
         versionLabel = "1.0.0"
         applicationName = "snapshot",
         environmentName = "snapshot",
         dockerrunLocation = "Dockerrun.snapshot.aws.json"
    }
}

release {
     elasticbeanstalk {
          bucketName = "2",
          versionLabel = "2.0.0"
          applicationName = "release",
          environmentName = "release",
          dockerrunLocation = "Dockerrun.release.aws.json"
     }
}

readonly {
    elasticbeanstalk {
         bucketName = "3",
         versionLabel = "3.0.0"
         applicationName = "readonly",
         environmentName = "readonly",
         dockerrunLocation = "Dockerrun.readonly.aws.json"
    }
}
