snapshot {
    elasticbeanstalk {
      bucketName = "123123",
      versionLabel = "1.2.3-CONFIGURED"
      applicationName = "gaia-sdasd",
      environmentName = "gaia-gaiaiaia",
      dockerrunLocation = "Dockerrun.aws.json"
    }
}

release {
    elasticbeanstalk {
         bucketName = "123123",
         versionLabel = "1.2.3-CONFIGURED"
         applicationName = "gaia-sdasd",
         environmentName = "gaia-gaiaiaia",
         dockerrunLocation = "Dockerrun.aws.json"
    }
}